---
import MainLayout from "../layouts/MainLayout.astro";
import CustomTitle from "../components/CustomTitle.astro";
---

<MainLayout title="About Page">
  <h3>About With LayOut</h3>

  <CustomTitle title="Custom Title" />
</MainLayout>

<style is:global>
  h3 {
    color: red;
  }
  h2 {
    color: blue;
  }
</style>
